<!-- <footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                     <strong>Copyright © 2023 Rachin Exports All Rights Reserved. | Design & Developed by  <a href="https://sarthaktech.i">Sarthak Tech</a></strong>
                     					
                </p>
            </div>
            
        </div>
    </div>
</footer> -->
<!-- 
<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 order-last order-md-first">
          <div class="copyright text-center text-md-start">
            <p class="text-sm">
              Designed and Developed by
              <a
                href="https://sarthaktech.in"
                rel="nofollow"
                target="_blank"
              >
                Sarthak Tech
              </a>
            </p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div
            class="
              terms
              d-flex
              justify-content-center justify-content-md-end
            "
          >
            <a href="#0" class="text-sm">Term & Conditions</a>
            <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
          </div>
        </div>
      </div>
     
    </div>
    
  </footer> -->