<div class="container">
  <div class="row text-center">
    <div class="col">
      Colour Shade Card
    </div>
  </div>

<form action="">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label> Quality</mat-label>
        <mat-select [formControl]="exportQuality" >

          <mat-option *ngFor="let exportQuality of exportQualityList" [value]="exportQuality">{{exportQuality}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>



    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label> Design</mat-label>
        <mat-select [formControl]="design" >

          <mat-option *ngFor="let design of designList" [value]="design">{{design}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">

      <mat-form-field appearance="outline">
        <mat-label>Color </mat-label>
        <input matInput placeholder="Color ">
      </mat-form-field>
    </div>

    <div class="col-lg-6 col-md-6 d-flex">
      <mat-form-field appearance="outline">
        <mat-label>Color No.</mat-label>
        <input matInput placeholder="Color No." >
      </mat-form-field>


      </div>
      <div class="col-md-6">

        <mat-form-field appearance="outline">
          <mat-label>Weight %</mat-label>
          <input matInput placeholder="Weight %">
        </mat-form-field>
      </div>


      <div class="col-md-6">

        <mat-form-field appearance="outline">
          <mat-label>Lagat</mat-label>
          <input matInput placeholder="Lagat">
        </mat-form-field>
      </div>

      <div class="col-md-6">

        <mat-form-field appearance="outline">
          <mat-label>Colour Display</mat-label>
          <input matInput placeholder="Colour Display">
        </mat-form-field>
      </div>


  </div>

  <div class="row">
    <div class="col-lg-3">
      <button mat-raised-button color="primary">Add</button>
    </div>
  </div>

</form>


</div>
