<div class="container">
  <div class="row text-center">
    <div class="col">
      Colour Shade Card
    </div>
  </div>

<form action="">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label> Quality</mat-label>
        <mat-select [formControl]="exportQuality" >

          <mat-option *ngFor="let exportQuality of exportQualityList" [value]="exportQuality">{{exportQuality}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>



    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label> Design</mat-label>
        <mat-select [formControl]="design" >

          <mat-option *ngFor="let design of designList" [value]="design">{{design}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


<!--
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Colour</th>
            <th scope="col">Colour No.</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div> -->


    <div class="col-md-6">

      <mat-form-field appearance="outline">
        <mat-label> Colour Name</mat-label>
        <mat-select [formControl]="colour" >

          <mat-option *ngFor="let colour of colourList" [value]="colour">{{colour}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>




    <div class="col-lg-6 col-md-6 d-flex">
      <mat-form-field appearance="outline">
        <mat-label> Colour Code</mat-label>
        <mat-select [formControl]="colourNo" >

          <mat-option *ngFor="let colourNo of colourNoList" [value]="colourNo">{{colourNo}}</mat-option>
        </mat-select>
      </mat-form-field>


      </div>
      <div class="col-md-6">

        <mat-form-field appearance="outline">
          <mat-label>Weight %</mat-label>
          <input matInput placeholder="Weight %">
        </mat-form-field>
      </div>


      <div class="col-md-6">

        <mat-form-field appearance="outline">
          <mat-label>Lagat</mat-label>
          <input matInput placeholder="Lagat">
        </mat-form-field>
      </div>

      <div class="col-md-6">

        <mat-form-field appearance="outline">
          <mat-label>Colour Display</mat-label>
          <input matInput placeholder="Colour Display">
        </mat-form-field>
      </div>


  </div>

  <div class="row">
    <div class="col-lg-3">
      <button mat-raised-button color="primary">Add</button>
    </div>
  </div>

</form>

<div class="row mt-4">
  <div class="col-md-6">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" #input autocomplete="off" (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>
  <div class="col-lg-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.index}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="coourName">
        <th mat-header-cell *matHeaderCellDef> Colour Name </th>
        <td mat-cell *matCellDef="let element"> {{element.coourName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="quality">
        <th mat-header-cell *matHeaderCellDef> Quality </th>
        <td mat-cell *matCellDef="let element"> {{element.quality}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="design">
        <th mat-header-cell *matHeaderCellDef> Design </th>
        <td mat-cell *matCellDef="let element"> {{element.design}} </td>
      </ng-container>

      <ng-container matColumnDef="colourNo">
        <th mat-header-cell *matHeaderCellDef>Colour No. </th>
        <td mat-cell *matCellDef="let element"> {{element.colourNo}} </td>
      </ng-container>
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight %</th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>  <ng-container matColumnDef="lagat">
        <th mat-header-cell *matHeaderCellDef>Lagat</th>
        <td mat-cell *matCellDef="let element"> {{element.lagat}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>
  </div>
</div>
</div>
