mat-form-field {
  width: 100%;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.row{
  margin: auto;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}


.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}


.red{
  background-color: brown;
  color: white;
}
