<div class="container">
  <form [formGroup]="frmRegister" (ngSubmit)="register()">
  <div class="row " style="width:50%">

    <div class="col-md-12 text-center">
      <h4> Register </h4>
    </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="User Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
      </div>






      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number"  formControlName="mobile">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Passward</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Passward" formControlName="passward">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label>Select Gender</mat-label> <br>
      <mat-radio-group aria-label="Select an option" formControlName="gender">

        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Image </mat-label>
          <input matInput placeholder="Image" formControlName="image">
        </mat-form-field>
      </div>
      <div class="col-md-6 ">
        <mat-form-field appearance="outline">
          <mat-label>Address </mat-label>
          <input matInput placeholder="Image" formControlName="address">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <!-- <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <input matInput placeholder="Type" formControlName="type">
        </mat-form-field> -->
      </div>
      <div class="col-md-3">
        <button type="submit" mat-raised-button color="primary" [disabled]="frmRegister.invalid">Register</button>
      </div>

  </div>
</form>

</div>

