

<!-- <aside class="sidebar-nav-wrapper">
  <div class="navbar-logo">
    <a href="index.html">
      <h3> <a class="sidebar-brand text-center text-decoration-none" routerLink="">
          RACHIN EXPORTS
        </a>
      </h3>
    </a>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li class="nav-item nav-item-has-children">
        <a routerLink="dashboard" data-bs-toggle="collapse" data-bs-target="#ddmenu_1" aria-controls="ddmenu_1"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon">
            <svg width="22" height="22" viewBox="0 0 22 22">
              <path
                d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
            </svg>
          </span>
          <span class="text">Dashboard</span>

        </a>

      </li>



























          <li>
            <a routerLink="buyer-order">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">Buyer Order </span>
            </a>
          </li>*************************



        </ul>
      </li>
      <li class="nav-item nav-item-has-children" href="javascript:void(0)">
        <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_2" aria-controls="ddmenu_2"
          aria-expanded="false" aria-label="Toggle navigation">
          <i style="margin-right: 15px;" class="lni lni-user"></i>
          <span class="text">K.O.T.I.</span>
        </a>
        <ul id="ddmenu_2" class="collapse dropdown-nav">



          <li class="nav-item nav-item-has-children">
            <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_2" aria-controls="ddmenu_2"
              aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni lni-user" data-feather="book"></i> <span class="align-middle">Master</span>
            </a>
            <ul id="ddmenu_2" class="collapse dropdown-nav">
              <li>
                <a routerLink="koti-master">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Importer Address</span>
                </a>
              </li>
              <li>
                <a routerLink="koti-customer">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Customer </span>
                </a>
              </li>
              <li>
                <a routerLink="koti-quality">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Coding Details</span>
                </a>
              </li>
              <li>
                <a routerLink="quality-design">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Quality Design</span>
                </a>
              </li>






            </ul>
          </li>

          <li class="nav-item nav-item-has-children">
            <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_2" aria-controls="ddmenu_2"
              aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni lni-user" data-feather="book"></i> <span class="align-middle">Import</span>
            </a>
            <ul id="ddmenu_2" class="collapse dropdown-nav">

              <li>
                <a routerLink="">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Despatch Order  </span>
                </a>
              </li>
              <li>
                <a routerLink="koti-container-dispatch">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Container Despatch </span>
                </a>
              </li>

              <li>
                <a routerLink="">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Container Dispatch Report </span>
                </a>
              </li>
              <li>
                <a routerLink="koti-container-received">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Container Received </span>
                </a>
              </li>
              <li>
                <a routerLink="">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Container Received Report </span>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item nav-item-has-children">
            <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_2" aria-controls="ddmenu_2"
              aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni lni-user" data-feather="book"></i> <span class="align-middle">Sale</span>
            </a>
            <ul id="ddmenu_2" class="collapse dropdown-nav">
              <li>
                <a routerLink="koti-sale-bill">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Bill</span>
                </a>
              </li>
              <li>
                <a routerLink="">
                  <i class="align-middle" data-feather="book"></i> <span class="align-middle">Bill Report  </span>
                </a>
              </li>

            </ul>
          </li>






        </ul>
      </li>



    </ul>
  </nav>

</aside> -->

<nav class="sidebar">
  <div class="menu_content">
    <ul class="menu_items">
      <div class="menu_title menu_dahsboard"></div>
      <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
      <!-- start -->
      <li class="item">
        <div href="#" class="nav_link submenu_item">
          <span class="navlink_icon">
            <i class="bx bx-home-alt"></i>
          </span>
          <span class="navlink">Master</span>
          <i class="bx bx-chevron-right arrow-left"></i>
        </div>

        <ul class="menu_items submenu">
          <a  routerLink="buyer-master" class="nav_link sublink">Buyer Master</a>
          <a routerLink="view-byer-list" class="nav_link sublink">View Buyre Master</a>
          <a routerLink="raw-material-group" class="nav_link sublink">Raw Material Group</a>
          <a routerLink="purchaser-details" class="nav_link sublink">Purchase Details</a>




          <a  routerLink="employee-details" class="nav_link sublink">Employee Details </a>
          <a routerLink="quality" class="nav_link sublink">Quality</a>
          <a routerLink="design" class="nav_link sublink">Design</a>
          <a routerLink="colour-code-dyeing-detail" class="nav_link sublink">Colour Code Dyeing Detail</a>


          <a  routerLink="shaed-card" class="nav_link sublink">Shaed Card</a>
          <a routerLink="size-master" class="nav_link sublink">Size Master</a>
          <a routerLink="finishing-head" class="nav_link sublink">Finishing Head</a>
          <a routerLink="finishing-process" class="nav_link sublink">Finishing Process</a>

          <a  routerLink="manage-branch" class="nav_link sublink">Manage Branch</a>
          <a routerLink="carpet-stock" class="nav_link sublink">Carpet Stock</a>



        </ul>
      </li>
      <!-- end -->

      <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
      <!-- start -->
      <li class="item">
        <div href="#" class="nav_link submenu_item">
          <span class="navlink_icon">
            <i class="bx bx-grid-alt"></i>
          </span>
          <span class="navlink">Buyer Order</span>
          <i class="bx bx-chevron-right arrow-left"></i>
        </div>

        <ul class="menu_items submenu">
          <a routerLink="buyer-order" class="nav_link sublink">Buyer Order</a>
          <a routerLink="view-buyer-order-list" class="nav_link sublink">View Buyer Order</a>

        </ul>
      </li>

      <li class="item">
        <div href="#" class="nav_link submenu_item">
          <span class="navlink_icon">
            <i class="bx bx-grid-alt"></i>
          </span>
          <span class="navlink">K.O.T.I.</span>
          <i class="bx bx-chevron-right arrow-left"></i>
        </div>

        <ul class="menu_items submenu">

          <a routerLink="koti-master" class="nav_link sublink">Importer Address</a>
          <a routerLink="koti-customer" class="nav_link sublink">Customer</a>
          <a routerLink="koti-quality" class="nav_link sublink">Coding Details</a>
          <a routerLink="quality-design" class="nav_link sublink">Quality & Design</a>




          <a routerLink="#" class="nav_link sublink">Despatch Order</a>
          <a routerLink="koti-container-dispatch" class="nav_link sublink">Container Despatch</a>
          <a routerLink="#" class="nav_link sublink">Container Dispatch Report</a>


          <a routerLink="koti-container-received" class="nav_link sublink">Container Received</a>
          <a routerLink="#" class="nav_link sublink">Container Received Report</a>


          <a routerLink="koti-sale-bill" class="nav_link sublink">Sale Bill</a>
          <a routerLink="#" class="nav_link sublink">Sale Bill Report</a>
        </ul>
      </li>
      <!-- end -->
    </ul>

    <!-- <ul class="menu_items">
      <div class="menu_title menu_editor"></div>

      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bxs-magic-wand"></i>
          </span>
          <span class="navlink">Magic build</span>
        </a>
      </li>


      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bx-loader-circle"></i>
          </span>
          <span class="navlink">Filters</span>
        </a>
      </li>
      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bx-filter"></i>
          </span>
          <span class="navlink">Filter</span>
        </a>
      </li>
      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bx-cloud-upload"></i>
          </span>
          <span class="navlink">Upload new</span>
        </a>
      </li>
    </ul>
    <ul class="menu_items">
      <div class="menu_title menu_setting"></div>
      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bx-flag"></i>
          </span>
          <span class="navlink">Notice board</span>
        </a>
      </li>
      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bx-medal"></i>
          </span>
          <span class="navlink">Award</span>
        </a>
      </li>
      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bx-cog"></i>
          </span>
          <span class="navlink">Setting</span>
        </a>
      </li>
      <li class="item">
        <a href="#" class="nav_link">
          <span class="navlink_icon">
            <i class="bx bx-layer"></i>
          </span>
          <span class="navlink">Features</span>
        </a>
      </li>
    </ul>

    <!-- Sidebar Open / Close -->
    <div class="bottom_content">
      <div class="bottom expand_sidebar">
        <span> Expand</span>
        <i class='bx bx-log-in' ></i>
      </div>
      <div class="bottom collapse_sidebar">
        <span> Collapse</span>
        <i class='bx bx-log-out'></i>
      </div>
    </div> 
  </div>
</nav>





