<!-- <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand text-center text-decoration-none" routerLink="">
            RACHIN EXPORTS 
        </a>

        <ul class="sidebar-nav">


            <li class="sidebar-item active">
                <a class="sidebar-link " routerLink="dashboard">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="buyer">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Buyer
                        </span>
                </a>
            </li>

          
            <li>
                <a class="sidebar-link" routerLink="view-byer-list">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">View Byer List</span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" routerLink="buyer-master">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Buyer Master</span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" routerLink="dying-master">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Dying Master</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="shaed-card">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Shaed Card</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="size-master">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Size Master</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="raw-material">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Raw Material</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="weaving">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Weaving</span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" routerLink="finishing-labour-ledger">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Finishing Labour Ledger</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="ledger-account">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Ledger Account</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="contractor">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Contractor</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="finishing-ledger">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Finishing Ledger</span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" routerLink="view-finishing-ledger">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">View Finishing Ledger</span>
                </a>
            </li>


 
        </ul>

         
    </div>
</nav> -->

 

<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
      <a href="index.html">
        <h3> <a class="sidebar-brand text-center text-decoration-none" routerLink="">
            RACHIN EXPORTS 
        </a>
</h3>
      </a>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li class="nav-item nav-item-has-children">
          <a
            routerLink="dashboard"
            data-bs-toggle="collapse"
            data-bs-target="#ddmenu_1"
            aria-controls="ddmenu_1"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon">
              <svg width="22" height="22" viewBox="0 0 22 22">
                <path
                  d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z"
                />
              </svg>
            </span>
            <span class="text">Dashboard</span>
          </a>
          
        </li>
        <li class="nav-item nav-item-has-children">
          <a
            href="#0"
            class="collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#ddmenu_2"
            aria-controls="ddmenu_2"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
          <i style="margin-right: 15px;" class="lni lni-user"></i> 
            <span class="text"> Master</span>
          </a>
          <ul id="ddmenu_2" class="collapse dropdown-nav">
            

            <li>
                <a  routerLink="buyer">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Buyer
                        </span>
                </a>
            </li>

          
            <li>
                <a   routerLink="view-byer-list">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">View Byer List</span>
                </a>
            </li>
            <li>
                <a  routerLink="buyer-master">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Buyer Master</span>
                </a>
            </li>
            <li>
                <a   routerLink="dying-master">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Dying Master</span>
                </a>
            </li>

            <li>
                <a   routerLink="shaed-card">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Shaed Card</span>
                </a>
            </li>

            <li>
                <a   routerLink="size-master">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Size Master</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="raw-material">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Raw Material</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="weaving">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Weaving</span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" routerLink="finishing-labour-ledger">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Finishing Labour Ledger</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="ledger-account">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Ledger Account</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="contractor">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Contractor</span>
                </a>
            </li>

            <li>
                <a class="sidebar-link" routerLink="finishing-ledger">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Finishing Ledger</span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" routerLink="view-finishing-ledger">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">View Finishing Ledger</span>
                </a>
            </li>


          </ul>
        </li>
     
      </ul>
    </nav>
     
  </aside>
  <!-- <div class="overlay"></div> -->