<div class="container">
  <div class="row">
    <div class="col text-center">
      <h4> Contractor Name </h4>
    </div>
  </div>
<form  [formGroup]="frmContractor" (ngSubmit)="addContractor()">


  <div class="row mt-4">
    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Group Name</mat-label>
        <mat-select  formControlName="group_name" (valueChange)="onGroupSelectList($event)">

          <mat-option *ngFor="let groupNames of groupNameList" [value]="groupNames">{{groupNames}}</mat-option>
        </mat-select>
      </mat-form-field>


    </div>
    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Product</mat-label>
        <input matInput placeholder="Product"  >
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Product</mat-label>
        <mat-select  formControlName="product_name" (valueChange)="onProductSelectList($event)" >

          <mat-option *ngFor="let product of productList" [value]="product">{{product}}</mat-option>
        </mat-select>
      </mat-form-field> -->

    </div>




    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Weaver Name</mat-label>
        <input matInput placeholder="weaver Name"  formControlName="weaver_name">
      </mat-form-field>
    </div>



    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <!-- <input matInput placeholder="Address" > -->
        <textarea matInput placeholder="Address" formControlName="address"></textarea>
      </mat-form-field>
    </div>








    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state">
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="Zip Code" formControlName="zip_code" >
      </mat-form-field>
    </div>

    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Aadhar No.</mat-label>
        <input matInput placeholder="Aadhar No." formControlName="adhar_no">
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6">
      <label for="formFile" class="form-label">Upload Aadhar Card *</label>
      <!-- <input class="form-control" type="file"  id="formFile" accept="image/*"  > -->
      <input class="form-control" type="file"  id="formFile" accept="image/*"  (change)="selectImage($event)" formControlName="adhar_image" >
    </div>
    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Pan No.</mat-label>
        <input matInput placeholder="Pan No." formControlName="pan_no">
      </mat-form-field>

    </div>




    <div class="col-lg-6 col-md-6">
      <label for="formFile" class="form-label">Upload Pan Card *</label>
      <!-- <input class="form-control" type="file"  id="formFile" accept="image/*"  > -->
      <input class="form-control" type="file"  id="formFile" accept=".jpeg, jpg" (change)="selectImage2($event)" formControlName="pan_image">
    </div>



    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>P.P.F.T.</mat-label>
        <input matInput placeholder="P.P.F.T." formControlName="ppft" >
      </mat-form-field>
    </div>

    <!-- <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Guarantor 1</mat-label>
        <input matInput placeholder="Guarantor 1"  >
      </mat-form-field>

    </div> -->






  </div>
  <div class="row">
    <div class="col-lg-3">
      <button mat-raised-button color="primary">Add</button>
    </div>
  </div>
</form>







</div>
