<div class="container">
  <div class="row text-center">
    <div class="col">
      Lagat Master
    </div>
  </div>




  <form>

    <div class="row">

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Qualitys</mat-label>
          <mat-select [formControl]="quality" multiple>

            <mat-option *ngFor="let quality of qualityList" [value]="quality">{{quality}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Design</mat-label>
          <mat-select [formControl]="design" multiple>
            <mat-option *ngFor="let design of qualityList" [value]="design">{{design}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>





      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Ground</mat-label>
          <input matInput placeholder="Placeholder">

        </mat-form-field>

      </div>

      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Border</mat-label>
          <input matInput placeholder="Placeholder">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>From Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>To Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Kati</mat-label>
          <input matInput placeholder="Kati">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Tana</mat-label>
          <input matInput placeholder="Tana">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">

        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Soot</mat-label>
          <input matInput placeholder="Soot">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Tharri</mat-label>
          <input matInput placeholder="Tharri">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">

        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Sillk</mat-label>
          <input matInput placeholder="Sillk">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Other 1</mat-label>
          <input matInput placeholder="Other 1">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Other 2</mat-label>
          <input matInput placeholder="Other 1">

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">

        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Amount">

        </mat-form-field>
      </div>
    </div>

  </form>





</div>
<!--  -->
