<div class="container">
  <div class="row text-center">
    <div class="col">
    {{isUpdate?'Update Carpet Stock':'Add Carpet Stock'}}
    </div>
  </div>



  <form [formGroup]="frmCarpetStock" (ngSubmit)="addCarpetStock()">
    <div class="row mt-3">
      <div class="col-lg-4 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Quality</mat-label>
          <mat-select formControlName="quality" (valueChange)="onDesign($event)" >
            <mat-option *ngFor="let qualitys of qualityList" value="{{qualitys.id}}">{{qualitys.qualityName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Design</mat-label>
          <mat-select formControlName="design" (valueChange)="onGroundBorder($event)">
            <mat-option *ngFor="let designs of designList" value="{{designs.design}}">{{designs.design}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-lg-4 col-md-4 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Ground Color</mat-label>
          <input matInput placeholder="Ground" [value]="groundColours" formControlName="ground_colour">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Border Color</mat-label>
          <input matInput placeholder="Border" [value]="borderColours" formControlName="border_colour">
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Carpet No.</mat-label>
          <input matInput placeholder="Carpet No." formControlName="carpet_no">
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Branch Code</mat-label>
          <input matInput placeholder="Branch Code" formControlName="branch_code">
        </mat-form-field>
      </div>


      <div class="col-lg-4 col-md-4 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Size</mat-label>
          <mat-select formControlName="size" (valueChange)="changeSize($event)">
            <mat-option *ngFor="let size of sizeList" value="{{size.id}}">{{size.sizeInYard +'  &nbsp; &nbsp;&nbsp; '+ size.type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-4 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Area</mat-label>
          <input matInput placeholder="Area" value="{{areaCalc}}" formControlName="area">
        </mat-form-field>
      </div>





    </div>
    <div class="row">
      <div class="col-md-3" *ngIf="!isUpdate">
        <button mat-raised-button color="primary"   >Add</button>
      </div>

      <div class="col-md-3" *ngIf="isUpdate">
        <button mat-raised-button color="primary" type="button" (click)="updateStock()"  >Update</button>
      </div>
    </div>
  </form>




  <div class="row mt-5">

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" #input autocomplete="off" (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="col-lg-12 " style="overflow: auto;">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Quality </th>
          <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="design">
          <th mat-header-cell *matHeaderCellDef>Design</th>
          <td mat-cell *matCellDef="let element"> {{element.design}} </td>
        </ng-container>

        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef>Action </th>
          <td mat-cell *matCellDef="let element" class="d-flex">
            <a  (click)="getStockById(element.id)"><i class="fa fa-pencil-square-o fa-lg fa-edit" aria-hidden="true"></i></a>
            &nbsp;
            <a><i class="fa fa-trash-o fa-lg fa-trash" aria-hidden="true"></i></a>
          </td>
        </ng-container>
        <ng-container matColumnDef="borderColour">
          <th mat-header-cell *matHeaderCellDef>Border Colour </th>
          <td mat-cell *matCellDef="let element"> {{element.borderColour}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="groundColour">
          <th mat-header-cell *matHeaderCellDef>Color Gr/Br </th>
          <td mat-cell *matCellDef="let element"> {{element.groundColour}} </td>
        </ng-container>



        <ng-container matColumnDef="carpetNo">
          <th mat-header-cell *matHeaderCellDef>Carpet No </th>
          <td mat-cell *matCellDef="let element"> {{element.carpetNo}} </td>
        </ng-container>

        <ng-container matColumnDef="branchCode">
          <th mat-header-cell *matHeaderCellDef>Branch Code </th>
          <td mat-cell *matCellDef="let element"> {{element.branchCode}} </td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>Size </th>
          <td mat-cell *matCellDef="let element"> {{element.size}} </td>
        </ng-container>
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef>Area </th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
  </div>


</div>

