<div class="container mt-3">

  <table class="table">
    <thead>
      <tr>
        <th>Importer</th>
        <th>Invoice No.</th>
        <th>Date</th>
        <th>Bale No.</th>
        <th>Sl No.</th>
        <th>Quality</th>
        <th>Design</th>
        <th>Colour</th>
        <th>Width</th>
        <th>Length</th>
        <th>Area</th>
<th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td><td>John</td>
        <td>Doe</td>
        <td>john@example.com</td><td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>

    </tbody>
  </table>
</div>
