<div class="container">
  <div class="row text-center  ">
    <div class="col-md-12">
      Buyer Order
    </div>
  </div>

  <form [formGroup]="frmBuyerOrder" (ngSubmit)="onAddBuyerOrder()">


  <section style="margin: 10px;">
    <fieldset style="min-height:100px;">
    <legend><b> Buyer Order </b> </legend>
    <div class="row">
      <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Buyer Name </mat-label>
        <mat-select formControlName="buyerName">

          <mat-option *ngFor="let buyer of buyerList" [value]="buyer">{{buyer}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Order No.</mat-label>
          <input matInput placeholder="Order No." formControlName="orderNo">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Order Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="orderDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>





      <div class="col-md-4">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Shipping Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="shippingDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker2></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Order Type </mat-label>
          <mat-select formControlName="orderType">

            <mat-option *ngFor="let orderType of orderTypeList" [value]="orderType">{{orderType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>U.O.M. </mat-label>
          <mat-select formControlName="uom">

            <mat-option *ngFor="let uom of uomList" [value]="uom">{{uom}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">

        <mat-form-field appearance="outline">
          <mat-label>Issue Unit </mat-label>
          <mat-select formControlName="issueUnit">

            <mat-option *ngFor="let issueUnit of issueUnitList" [value]="issueUnit">{{issueUnit}}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Priority </mat-label>
          <mat-select formControlName="priority">

            <mat-option *ngFor="let priority of priorityList" [value]="priority">{{priority}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>




      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Area</mat-label>
          <input matInput placeholder="Total Area" formControlName="area">
        </mat-form-field>
      </div>
    </div>
  </fieldset>
</section>

<section style="margin: 10px;">
  <fieldset style="min-height:100px;">
  <legend><b>  </b> </legend>


<div class="row">

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Quality</mat-label>
          <mat-select formControlName="quality" (valueChange)="onDesign($event)">

            <mat-option *ngFor="let quality of qualityList" [value]="quality.qualityName">{{quality.qualityName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Design</mat-label>
          <mat-select formControlName ="design" (valueChange)="onGroundBorder($event)" >

            <mat-option *ngFor="let design of designList" [value]="design.design">{{design.design}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


        <div class="col-lg-4 col-md-4 d-flex">
          <mat-form-field appearance="outline">
            <mat-label>Ground Color</mat-label>
            <input matInput placeholder="Ground" formControlName="groundColour">
           </mat-form-field>
           <mat-form-field appearance="outline">
            <mat-label>Border Color</mat-label>
            <input matInput placeholder="Border"  formControlName="borderColour">
           </mat-form-field>

      </div>




      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Size</mat-label>
          <mat-select formControlName="size" >

            <mat-option *ngFor="let size of sizeList" [value]="size">{{size}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" >

            <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-3 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Pcs.</mat-label>
          <input matInput placeholder="Pcs." formControlName="pcs" >
         </mat-form-field>
         </div>

         <div class="col-lg-3 col-md-3 d-flex">
          <mat-form-field appearance="outline">
            <mat-label>Area</mat-label>
            <input matInput placeholder="Area orderSize * pcs" formControlName="totalArea" >
           </mat-form-field>
           </div>

    </div>
  </fieldset>
  <div class="row mt-3">
    <div class="col-lg-1">
      <button mat-raised-button color="primary" type="submit">Add</button>
    </div>
  </div>
</section>
  </form>

  <div class="row">


    <div class="col-lg-4">
      <button mat-raised-button color="primary" type="submit">Map Transfer</button>
    </div>
  </div>

</div>
