<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      Contractor / Staff / Finisher Ledger Account
    </div>
  </div>



  <form [formGroup]="frmEmployeeDetails" (ngSubmit)="addEmployeeDetails()">
    <div class="row">
      <div class="col-lg-6 col-md-6 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Group</mat-label>
          <mat-select (valueChange)="onGroup($event)" formControlName="groupName">
            <mat-option *ngFor="let groups of groupList" [value]="groups">{{groups}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>


      <div class="col-md-6 col-lg-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Address" #addressFocus autofocus (keyup.enter)="cityFocus.focus()" formControlName="address"></textarea>
        </mat-form-field>


      </div>
      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select (valueChange)="onCity($event)" formControlName="city" #cityFocus autofocus (keyup.enter)="countryFocus.focus()">

            <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- formControlName="city" -->

      </div>
      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select (valueChange)="onState($event)" formControlName="state" #stateFocus autofocus (keyup.enter)="zipCodeFocus.focus()">
            <!-- formControlName="state" -->

            <mat-option *ngFor="let states of stateList" [value]="states">{{states}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select (valueChange)="onCountry($event)" formControlName="country" #countryFocus autofocus (keyup.enter)="stateFocus.focus()">
            <!-- formControlName="country" -->
            <mat-option *ngFor="let countrys of countryList" [value]="countrys">{{countrys}}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>






      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput placeholder="Zip Code" formControlName="zipCode" #zipCodeFocus autofocus>
        </mat-form-field>
      </div>
<div class="col-md-6 col-lg-6"></div>
      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Aadhar No.</mat-label>
          <input matInput placeholder="Aadhar No." formControlName="adharNo" #zipCodeFocus autofocus>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="formFile" class="form-label">Upload Aadhar Card *</label>
        <!-- <input class="form-control" type="file"  id="formFile" accept="image/*"  > -->
        <input class="form-control" type="file" id="formFile" accept="image/*" formControlName="adharImage">
      </div>









      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Pan Card No.</mat-label>
          <input matInput placeholder="Pan Card No." formControlName="panNo" #zipCodeFocus autofocus>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="formFile" class="form-label">Upload Pan Card *</label>
        <!-- <input class="form-control" type="file"  id="formFile" accept="image/*"  > -->
        <input class="form-control" type="file" id="formFile" accept=".jpeg, jpg" formControlName="panImage">
      </div>


      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>E.P.F.O. No.</mat-label>
          <input matInput placeholder="E.P.F.O. No." #zipCodeFocus autofocus formControlName="epfoNo">
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-md-6">
        <label for="formFile" class="form-label">Upload E.P.F.O. Sheet</label>
        <!-- <input class="form-control" type="file"  id="formFile" accept="image/*"  > -->
        <input class="form-control" type="file" id="formFile" accept="image/*" formControlName="epfoSheet">
      </div>

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>E.S.I.C. No.</mat-label>
          <input matInput placeholder="E.P.F.O. No." #zipCodeFocus autofocus formControlName="esicNo">
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="formFile" class="form-label">Upload E.S.I.C. Sheet</label>
        <!-- <input class="form-control" type="file"  id="formFile" accept="image/*"  > -->
        <input class="form-control" type="file" id="formFile" accept="image/*" formControlName="esicSheet">
      </div>


      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="E-Mail" #emailFocus formControlName="email">
        </mat-form-field>
      </div>


      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" #emailFocus formControlName="password">
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-3"><button mat-raised-button color="primary">Add</button></div>
    </div>
  </form>




  <div class="row mt-5">

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" #input autocomplete="off" (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="col-lg-12">

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->


        <!-- Name Column -->
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef> Group Name </th>
          <td mat-cell *matCellDef="let element"> {{element.group}} </td>
        </ng-container>

        <!-- Weight Column -->

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <ng-container matColumnDef="esicNo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> E.S.I.C. No </th>
          <td mat-cell *matCellDef="let element"> {{element.esicNo}} </td>
        </ng-container>
        <ng-container matColumnDef="epfoNo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> E.P.F.O. No. </th>
          <td mat-cell *matCellDef="let element"> {{element.epfoNo}} </td>
        </ng-container>
        <ng-container matColumnDef="password">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container>





        <ng-container matColumnDef="panImage">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Pan Image </th>
          <td mat-cell *matCellDef="let element"> {{element.panImage}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="panNo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Pan No </th>
          <td mat-cell *matCellDef="let element"> {{element.panNo}} </td>
        </ng-container>
        <ng-container matColumnDef="aadharImage">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Aadhar Image </th>
          <td mat-cell *matCellDef="let element"> {{element.aadharImage}} </td>
        </ng-container>





        <ng-container matColumnDef="aadharNo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Zip Code </th>
          <td mat-cell *matCellDef="let element"> {{element.aadharNo}} </td>
        </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Country </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>





        <ng-container matColumnDef="zipCode">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Zip Code </th>
          <td mat-cell *matCellDef="let element"> {{element.zip_code}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>




      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>
