.row{
  margin: auto;
}
.mat-mdc-form-field {
  width: 100%;
}
.colorPic {
  height: 24px;
  margin-top: 18px;
  border-radius: 50%;
  width: 23px;
}

span{
  margin-top: 10px;
    margin-left: 10px;
}
img
{
  height: 50px;
   width: 50px;
  border-radius: 100%;
}
