.row{
  margin: auto;
}
.mat-mdc-form-field {
  width: 100%;
}
.colorPic {
  height: 24px;
  margin-top: 18px;
  border-radius: 50%;
  width: 23px;
}

span{
  margin-top: 10px;
    margin-left: 10px;
}
img
{
  height: 50px;
   width: 50px;
  border-radius: 100%;
}

.fa-edit{
  color: rgb(118, 103, 250);
}



.fa-trash{
  color: rgb(235, 28, 28);
}
.container1 {
  width:180px;
  display:inline-block;
  }

