<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      {{isUpdate?'Update Purchaser Ledger Account':'Add Purchaser Ledger Account'}}
    </div>
  </div>



  <form [formGroup]="frmPurchaserDetails" (ngSubmit)="addPurchaserDetails()">
    <div class="row mt-4">
      <div class="col-lg-6 col-md-6 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Group</mat-label>

          <mat-select  (valueChange)="onGroup($event)" formControlName="groupName">



            <mat-option *ngFor="let groups of groupList" value="{{groups.id}}">{{groups.groupName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-lg-6 col-md-6 d-flex">
        <mat-form-field appearance="outline">
          <mat-label>Material</mat-label>
          <mat-select  (valueChange)="onMaterial($event)" formControlName="materialName">
            <mat-option *ngFor="let materials of materialList" value="{{materials.item_name}}">{{materials.item_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Count</mat-label>
          <mat-select  (valueChange)="onCount($event)" formControlName="count">
            <mat-option *ngFor="let counts of countList" value="{{counts.id}}">{{counts.count}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Party Name </mat-label>
          <input matInput placeholder="Party Name " formControlName="partyName">
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Gst No. </mat-label>
          <input matInput placeholder="Gst No." formControlName="gstNo">
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Address </mat-label>
          <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-md-6">
        <!-- <ngx-intl-tel-input
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        [numberFormat]="PhoneNumberFormat.National"
        name="contactNo"
        formControlName="contactNo"
      >
      </ngx-intl-tel-input> -->
        <!-- <input type="text" name="tel" ng-model="tel" ng-intl-tel-input data-default-country="gb"> -->

        <mat-form-field appearance="outline">
          <mat-label>Contact No. </mat-label>
          <input matInput placeholder="Contact No."formControlName="contactNo">
        </mat-form-field>
      </div>
      <div class="col-lg-3" *ngIf="!isUpdate"><button mat-raised-button color="primary">Add</button></div>
      <div class="col-lg-3" *ngIf="isUpdate"><button mat-raised-button color="primary" type="button" (click)="updatePurchaseLedger()">Update</button></div>

    </div>
  </form>




  <div class="row mt-5">

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" #input autocomplete="off" (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="col-lg-12 table-responsive">


      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="groupName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Group Name </th>
          <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
        </ng-container>










        <ng-container matColumnDef="address">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="contactNo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Contact No </th>
          <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
        </ng-container>

        <ng-container matColumnDef="materialName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Material Name </th>
          <td mat-cell *matCellDef="let element"> {{element.materialName}} </td>
        </ng-container>
        <ng-container matColumnDef="partyName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Party Name </th>
          <td mat-cell *matCellDef="let element"> {{element.partyName}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="count">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Count </th>
          <td mat-cell *matCellDef="let element"> {{element.count}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="gstNo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> GstNo </th>
          <td mat-cell *matCellDef="let element"> {{element.gstNo}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action </th>
          <td mat-cell *matCellDef="let element">
            <a (click)="getPurchaseDetailById(element.id)"><i class="fa fa-pencil-square-o fa-lg fa-edit" aria-hidden="true"></i></a>
            &nbsp;
            <a><i class="fa fa-trash-o fa-lg fa-trash" aria-hidden="true"></i></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
