<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">Quality/Design</div>
  </div>

  <form [formGroup]="frmKotiQuality" (ngSubmit)="addKotiQuality()">
    <div class="row mt-5">
      <div class="col-md-6">
        <mat-form-field  appearance="outline" >
          <mat-label>Design</mat-label>
          <mat-select [formControl]="design" multiple>
            <mat-option *ngFor="let design of designList" [value]="design">{{design}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Design Code</mat-label>
          <input matInput placeholder="Design Code">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field  appearance="outline">
          <mat-label>Colour</mat-label>
          <mat-select [formControl]="colour" multiple>
            <mat-option *ngFor="let colour of colourList" [value]="colour">{{colour}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Colour Code</mat-label>
          <input matInput placeholder="Colour Code">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field  appearance="outline">
          <mat-label>Size</mat-label>
          <mat-select [formControl]="size" multiple>
            <mat-option *ngFor="let size of sizeList" [value]="size">{{size}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Size Code</mat-label>
          <input matInput placeholder="Size Code">
        </mat-form-field>
      </div>
      <div class="col-md-3"><button mat-raised-button color="primary">Add</button></div>
    </div>
  </form>
</div>
