<div class="container">
  <div class="row"><div class="col text-center">
    <h4> Buyer Master</h4>
  </div></div>



<form [formGroup]="frmBuyerMaster" (ngSubmit)="addbuyerMaster()">


  <section style="margin: 10px;">
    <fieldset style="min-height:100px;">
    <legend><b> Buyer </b> </legend>

    <div class="row">

      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Buyer Name</mat-label>
          <input matInput placeholder="Buyer Name" formControlName="buyerName"   (keydown)="onEnterBuyerName($event)">

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Address" #addressFocus (keydown)="onAddressFocus($event)"  formControlName="address" ></textarea>
        </mat-form-field>


      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select   formControlName="city" (valueChange)="onCity($event)" #cityFocus autofocus  (keyup.enter)="countryFocus.focus()" >

            <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- formControlName="city" -->

      </div>


      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select  formControlName="state" (valueChange)="onState($event)" #stateFocus autofocus  (keyup.enter)="zipCodeFocus.focus()">
            <!-- formControlName="state" -->

            <mat-option *ngFor="let states of stateList" [value]="states">{{states}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select   formControlName="country" (valueChange)="onCountry($event)" #countryFocus  autofocus  (keyup.enter)="stateFocus.focus()">
            <!-- formControlName="country" -->
            <mat-option *ngFor="let countrys of countryList" [value]="countrys">{{countrys}}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>






      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput placeholder="Zip Code" formControlName="zipCode" #zipCodeFocus autofocus  (keyup.enter)="contactFocus.focus()">
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Contact No.</mat-label>
          <input matInput placeholder="Contact No." formControlName="mobile" #contactFocus autofocus  (keyup.enter)="emailFocus.focus()">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="E-Mail" #emailFocus formControlName="email" autofocus  (keyup.enter)="bankName.focus()" >
        </mat-form-field>
      </div>
    </div>

    </fieldset>
    </section>



    <section style="margin: 10px;" class="mt-5">
      <fieldset style="min-height:100px;">
      <legend><b>  Bank Details </b> </legend>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Bank Name</mat-label>
            <input matInput placeholder="Bank Name" formControlName="bank" #bankName autofocus  (keyup.enter)="bankAddressFocus.focus()">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Branch" formControlName="branch" #bankAddressFocus autofocus  (keyup.enter)="bankMobile.focus()">
          </mat-form-field>
        </div>



        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Mobile No.</mat-label>
            <input matInput placeholder="Mobile No." formControlName="mobile2" #bankMobile autofocus  (keyup.enter)="bankEmail.focus()">
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" formControlName="email2" #bankEmail>
          </mat-form-field>
        </div>

      </div>
</fieldset>
</section>


      <div class="row"><div class="col-lg-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="frmBuyerMaster.invalid">Add</button>
      </div></div>

</form>



</div>
