<div class="container">
  <div class="row"><div class="col text-center">
    <h4> Buyer Master</h4>
  </div></div>
  <!-- <fieldset>
    <legend>Buyer Details</legend> -->


    <!-- <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Search Buyer Code</mat-label>
          <input matInput placeholder="Search Buyer Code">
        </mat-form-field>
      </div>
    </div> -->


<form [formGroup]="frmBuyerMaster" (ngSubmit)="addbuyerMaster()">


  <section style="margin: 10px;">
    <fieldset style="min-height:100px;">
    <legend><b> Buyer </b> </legend>

    <div class="row">

      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Buyer Name</mat-label>
          <input matInput placeholder="Buyer Name" formControlName="buyerName">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="E-Mail" formControlName="email">
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>

          <input matInput >
        </mat-form-field> -->
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Contact No.</mat-label>
          <input matInput placeholder="Contact No." formControlName="mobile">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <textarea placeholder="Address" ></textarea>

      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select [formControl]="country"  >
            <!-- formControlName="country" -->
            <mat-option *ngFor="let countrys of countryList" [value]="countrys">{{countrys}}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select [formControl]="state" >
            <!-- formControlName="state" -->

            <mat-option *ngFor="let states of stateList" [value]="states">{{states}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select [formControl]="city"  >

            <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- formControlName="city" -->

      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput placeholder="Zip Code" formControlName="zipCode">
        </mat-form-field>
      </div>
      <!-- <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Ship To</mat-label>
          <input matInput placeholder="Ship TO" formControlName="shipTo">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Notify</mat-label>
          <input matInput placeholder="Notify" formControlName="notify">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address2">
        </mat-form-field>
      </div> -->

    </div>



    </fieldset>
    </section>



    <section style="margin: 10px;" class="mt-5">
      <fieldset style="min-height:100px;">
      <legend><b>  Bank Details </b> </legend>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Bank Name</mat-label>
            <input matInput placeholder="Bank Name" formControlName="bank">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Branch</mat-label>
            <input matInput placeholder="Branch" formControlName="branch">
          </mat-form-field>
        </div>

        <!-- <div class="col-md-6 col-lg-4">
          <label for="formFile" class="form-label">Upload Passbook  *</label>
          <input class="form-control" type="file"  id="formFile" accept="image/*" formControlName="passbook" >

        </div> -->

        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Mobile No.</mat-label>
            <input matInput placeholder="Mobile No." formControlName="mobile2">
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" formControlName="email2">
          </mat-form-field>
        </div>

      </div>
</fieldset>
</section>


      <div class="row"><div class="col-lg-3">
        <button mat-raised-button color="primary">Add</button>
      </div></div>

</form>



</div>
