<div class="container">
  <div class="row"><div class="col text-center">
    <h4> {{isUpdate ?'Update Buyer Master' : 'Add Buyer Master'}}</h4>
  </div></div>



<form [formGroup]="frmBuyerMaster" (ngSubmit)="addbuyerMaster()">


  <section style="margin: 10px;">
    <fieldset style="min-height:100px;">
    <legend><b> Buyer </b> </legend>

    <div class="row">

      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Buyer Name</mat-label>
          <input matInput placeholder="Buyer Name" formControlName="byr_name"   (keydown)="onEnterBuyerName($event)">

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Address" #addressFocus (keydown)="onAddressFocus($event)"  formControlName="address" ></textarea>
        </mat-form-field>


      </div>
       <div class="col-md-6 col-lg-4">
        <!-- <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" #countryFocus (valueChange)="countryById($event)">
            <mat-option *ngFor="let countrys of countryList" [value]="countrys.id">{{countrys.countries_name}}</mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput placeholder=" Country" formControlName="country"  >
        </mat-form-field>

      </div>
      <!-- <div class="col-md-6 col-lg-4">

        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select (valueChange)="onStateById($event)" formControlName="state" #stateFocus>


            <mat-option *ngFor="let states of stateList" [value]="states.id">{{states.states_name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-md-6 col-lg-4">

        <mat-form-field appearance="outline">

          <mat-label>City</mat-label>
          <mat-select formControlName="city" #cityFocus>

            <mat-option *ngFor="let city of cityList" [value]="city.id">{{city.cities_name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>





      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput placeholder="Zip Code" formControlName="zip_code" autocomplete="false" #zipCodeFocus (keydown)="onZipCodeFocus($event)">
        </mat-form-field>
      </div> -->

      <div class="col-md-6 col-lg-4">
        <!-- <ngx-intl-tel-input
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        [numberFormat]="PhoneNumberFormat.National"
        name="contact_no"
        formControlName="contact_no"
      >
      </ngx-intl-tel-input> -->
        <mat-form-field appearance="outline">
          <mat-label>Contact No.</mat-label>
          <input matInput placeholder="Contact No." formControlName="contact_no" autocomplete="false" #contactFocus (keydown)="onContactNo($event)">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="E-Mail" #emailFocus formControlName="byr_email"  >
        </mat-form-field>
      </div>
    </div>

    </fieldset>
    </section>



    <section style="margin: 10px;" class="mt-5">
      <fieldset style="min-height:100px;">
      <legend><b>  Bank Details </b> </legend>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Bank Name</mat-label>
            <input matInput placeholder="Bank Name" formControlName="bank_name" #bankName autofocus  (keyup.enter)="bankAddressFocus.focus()">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Branch" formControlName="bank_address" #bankAddressFocus autofocus >
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <!-- <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select formControlName="bankCountry" #countryFocus >
              <mat-option *ngFor="let countrys of bankCountryList" [value]="countrys.id">{{countrys.countries_name}}</mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput placeholder=" Country" formControlName="bankCountry"  >
          </mat-form-field>
        </div>


        <div class="col-md-6 col-lg-4">
          <!-- <ngx-intl-tel-input
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        [numberFormat]="PhoneNumberFormat.National"
        name="bank_mobile"
        formControlName="bank_mobile"
      > </ngx-intl-tel-input>-->

          <mat-form-field appearance="outline">
            <mat-label>Mobile No.</mat-label>
            <input matInput placeholder="Mobile No." formControlName="bank_mobile" >
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" formControlName="bank_email" #bankEmail>
          </mat-form-field>
        </div>

      </div>
</fieldset>
</section>


      <div class="row">
        <div class="col-lg-3" *ngIf="!isUpdate">
        <button mat-raised-button color="primary" type="submit" [disabled]="frmBuyerMaster.invalid">Add</button>
      </div>
      <div class="col-lg-3" *ngIf="isUpdate">
        <button mat-raised-button color="primary" type="button"  (click)="updateBuyerRecord()" [disabled]="frmBuyerMaster.invalid">Update</button>
      </div>
    </div>

</form>



</div>
<!-- <section>
  <div class="wrapper">
    <input type="checkbox" [(ngModel)]="separateDialCode" />
    <label>&nbsp;Separate Dial Code?</label>
  </div>

  <form #f="ngForm" [formGroup]="phoneForm">
    <div class="wrapper">
      <ngx-intl-tel-input
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        [numberFormat]="PhoneNumberFormat.National"
        name="phone"
        formControlName="phone"
      >
      </ngx-intl-tel-input>
      <div style="margin-top: 20px; margin-bottom: 10px">
        <small
          class="alert alert-danger"
          *ngIf="
            !phoneForm.controls['phone'].valid &&
            phoneForm.controls['phone'].touched
          "
        >
          <span *ngIf="phoneForm.controls['phone'].errors?.['required']">
            Phone number is required.
          </span>
          <span *ngIf="phoneForm.controls['phone'].errors">
            Phone number need to have 10 character
          </span>
        </small>
      </div>
    </div>
    <div class="wrapper">
      <button class="btn btn-success" (click)="f.reset()">Reset</button>
    </div>
  </form>
  <div>
    <strong>Form value:</strong>
    <pre>{{ f.form.value | json }}</pre>
  </div>
  <div>
    <strong>Form validation errors:</strong>
    <pre>{{ f.form.controls["phone"].errors | json }}</pre>
  </div>
</section> -->
