.row {
  margin: auto;
}
.mat-mdc-form-field {
  width: 100%;
}

.colorPic {

  height: 61px;
  margin-top: -3px;
  border-radius: 50%;
  width: 65px;

}
.diplayColor{
  height: 200px;
  width: 200px;
  border-radius: 12px;
}
span{
  padding-left: 10px;
}
