/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap/dist/css/bootstrap.css";



.black-snackbar{
  background-color: rgb(236, 17, 17) !important;
  color: white !important;
}

.green-snackbar{
  background-color: rgb(5, 161, 109) !important;
  color: white !important;
}


.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: rgb(5, 161, 109) !important;
  border-radius: 8px!important;
}


.sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a {

  text-decoration: none !important;

}
