/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap/dist/css/bootstrap.css";



.black-snackbar{
  background-color: rgb(236, 17, 17) !important;
  color: white !important;
}

.green-snackbar{
  background-color: rgb(5, 161, 109) !important;
  color: white !important;
}


/* .mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: rgb(5, 161, 109) !important;
  border-radius: 8px!important;
} */


.sidebar-nav-wrapper .sidebar-nav ul .nav-item.nav-item-has-children ul li a {

  text-decoration: none !important;

}

.mat-mdc-form-field{
  text-transform: capitalize;
}
.iti input{
    height: 60px !important;
    width: 295px;
}
.mat-mdc-table tbody,.mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell{
  text-transform: capitalize;
}
a{
  cursor: pointer;
}
